<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>PS4 Titles</title>
  <link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>
<h1>Upcoming PS4 Games </h1>
<body>
  <a href="/playstation/new">Add A Game!</a>
  <br>
  <br>
  <br>
 <% playstation.forEach((playstation) => { %>
<div class="playstation">
  <a href="/playstation/game/<%=playstation.id%>"><h1><%=playstation.name%></h1></a>
</div>
</body>
<% }) %>
</html>

