<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Add a game</title>
  <link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>
<body>

<form action="/playstation/show" method="POST">
<input type="text" name="name" placeholder="Name" /><br>
<input type="text" name="release" placeholder="Release Date" /><br>
<input type="text" name="developer" placeholder="Game Developer" /><br>
<input type="text" name="image" placeholder="Image URL" /><br>
<br>
<input type="submit" value="Add Game" />
</form>
<br>
<a href="/playstation/show">Back to Games</a>
</body>
</html>
