<!DOCTYPE html>
<html>
<head>
  <title>Xbox One Titles</title>
  <link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>
<h1>Upcoming Xbox One Games</h1>
<body>
  <a href="/xbox/new">Add A Game!</a>
  <br>
  <br>
  <br>
  <% xbox.forEach((xbox) => { %>
<div class="xbox">
  <a href="/xbox/game/<%=xbox.id%>"><h1><%=xbox.name%></h1></a>
</div>
</body>
<% }) %>
</html>
