<% include ../../partials/boilerplate %>

<% xbox.forEach((xbox) => { %>
<div class="xbox">
  <a href="/xbox/<%=xbox.id%>"><h1><%=xbox.name%></h1></a>
</div>
<% }) %>

<a href="xbox/new">Make A Game!</a>
