@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz|Yantramanav');




body{
  background-color: #BCB8FF;
  margin: 0;
  font-family: 'Yantramanav', sans-serif;
  text-align: center;
}

h1{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin: 0;
  text-align: center;
  font-size: 50px;
}

p{
  text-align: center;
  word-spacing: 2px;
  padding: 25px;
  font-size: 30px;

}

a{
  margin: 0;
  text-align: center;
  font-size: 30px;
  padding: 35px;

}

.links{
  color: #FFAB4A
  border: 5px solid #6D6D6D;
}

