<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <meta charset="UTF-8">
    <title>PS4 and Xbox Release Schedule</title>
  </head>
  <body>

  <% include ../partials/nav %>
