<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" text="text/html" href="style.css">
    <meta charset="UTF-8">
    <title>PS and Xbox Release Schedule</title>
  </head>
  <body>
  <h1>See what's coming to your favorite game consoles!</h1>
  <p>Time to get excited! The PS4 and Xbox One are getting a ton
    of new releases in 2018. Click your console of choice to see what's new!
    Get excited!!!
  <div class="playstation">
    PlayStation 4
  </div>

  <div class="Xbox One">
  Xbox One
  </div>

  </p>

  </body>
</html>
