<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <meta charset="UTF-8">
    <title>PS and Xbox Release Schedule</title>
  </head>
  <body>
  <h1>See what's coming to your favorite game consoles!</h1>

  <p>Time to get excited! The PS4 and Xbox One are getting a ton
    of new releases in 2018. Click your console of choice to see what's new!
    Get excited!!!
 </p>

  <div class="links">
  <a href="/playstation/show">PS4</a>
  <a href="/xbox/show">Xbox One</a>
  </div>

  </body>
</html>
