<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" text="text/html" href="style.css">
    <meta charset="UTF-8">
    <title>PS and Xbox Release Schedule</title>
  </head>
  <body>
  <h1>Get excited!</h1>
  <p>Check to see what's coming for your favorte platform!
  <div class="playstation">
    PlayStation 4
  </div>

  <div class="Xbox One">

  </div>

  </p>

  </body>
</html>
