<!-- //  I was going to make a user login and register page following the
//  nodes.js lesson but I ran out of time
 -->


<!-- <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>
<body>
<form method="POST" action="/playstationviews/show">
  <div class="usernamefield">
    <p class="contol has-icons-left has-icons-right">
    <input class="input" type="text" placeholder="Username" name="username">
    </p>
  </div>
  <div class="passwordfield">
    <p>
    <input class="input" type="password" placeholder="Password" name="password">
    </p>
  </div>
  <div class="loggedinfield">
    <p class="control">
      <input type="submit" value="Log in!" class="button"/>
    </p>
  </div>
</form>
</body>
</html>
 -->
